@font-face{
    font-family: 'Wowsers';
    src: url('./src/app/assets/Fonts/Wowsers.ttf');
}
@font-face {
    font-family: 'Naughty';
    src: url('./src/app/assets/Fonts/Naughty.otf');
}
.navbar{
    background-color:#005EFF;
    position:fixed;
    font-family: Naughty;
    font-size: 1.5em;
}

.nav-link{
    color:white;
}

.nav-link:hover{
    background-color:white;
    color: #005EFF;
}

.navbar-brand{
    font-family: Wowsers ;
    color:White;
}